@model IEnumerable<controle.PRODUIT_COMMANDE>

@{
    ViewBag.Title = "COMMANDES";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Qte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.COMMANDE.Ville)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PRODUIT.Nom)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Qte)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.COMMANDE.Ville)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PRODUIT.Nom)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    </table>
</body>
</html>
