@model controle.PRODUIT

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>PRODUIT</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nom)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Nom)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Prix)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Prix)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CATEGORIE.libelle)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CATEGORIE.libelle)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FOURNISSEUR.Nom)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FOURNISSEUR.Nom)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ProduitID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
